.customButton {
    background-color: #f57005;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 100;

}

.btn:hover {
    background-color: #f57005;
}

.customButton .button_curve {
    position: absolute;
    right: -15px;
    top: 0;
    width: 33px;
    height: 100%;
    background: #f58a35;
    opacity: 0.8;
    z-index: -1;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.customButton:hover .button_curve {
    right: 0;
    width: 100%;
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}