* {
  box-sizing: border-box;
}
.navbar .menu li a:focus, .navbar .menu li .active{ 
  color: Green; 


}
.navbar .has-submenu .submenu  {
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    padding: 5px;
   
 
    
    
   
  }

  .navbar .has-submenu:hover .submenu, .navbar .has-submenu .submenu .underSubOne:hover .underSubmenuOne,  .navbar .has-submenu .submenu .underSubTwo:hover .underSubmenuTwo {
    display: block;
    

  }

  

  .navbar .has-submenu .submenu .underSubOne:hover,  .navbar .has-submenu .submenu .underSubTwo:hover  {
    background-color: lightgray ;
  }


  /* Existing styles */
  .navbar {
    transition: top 0.5s ease-in-out;
  top: 0;
  }

.sticky-top {
  position: fixed;
  top: 0; 
  width: 100%;
  background: gray transparent;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
}
.sticky-top.active {
  top: 0;
  height: 10%;
  width: 100%; /* Slide down to the top of the viewport */

  
}




